# Training-only dependency set (deployment / robot / sensor deps removed).
# Install torch separately first:
#   pip install torch==2.2.2 torchvision==0.17.2 torchaudio==2.2.2

numpy==1.26.4
numba
scipy
opencv-python
zarr
numcodecs
h5py
hydra-core
einops
tqdm
dill
scikit-image
imageio
imageio-ffmpeg
matplotlib
threadpoolctl
wandb
tensorboard
tensorboardx
psutil
click
accelerate
datasets
diffusers==0.33.1
timm
peft
pydantic
loguru
transforms3d
termcolor
cffi
opyf
